<% if @user.username %>
  <p><%= @user.username %> has been added to the database!</p>
<% end %>

<form method="post" action="/">
  <label for="username">Username</label>
  <input type="text" name="username"/>

  <input type="submit" value="Submit"/>
</form>

<h2>Users</h2>

<% if @users %>
  <% @users.each do |user| %>
    <h3><%= user.username %></h3>
  <% end %>
<% end %>
